<p id="notice"><%= notice %></p>

<h1 align="center">All Recipes</h1>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="recipe-title">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
        <div class="recipe-body">
          <%= truncate(recipe.description, length: 100) %> <!-- I have used the Truncate method-->
        </div>
        <div class="recipe-actions">
          <%= link_to 'Update', edit_recipe_path(recipe), class: "btn btn-xs btn-primary" %> |
          <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          <!-- I have taken @ from (@recipe) on the Links as we are referring to all recipes not each recipe as it is the case in the show page -->
        </div>
      </div>
    </div>
  </div>
<% end %>



